@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
  --primary-color: #ff805d;
  --primary-dark-color: #ff6135;
  --primary-light-color: rgba(255, 128, 93, 0.2);
  
  --red-color: #e42f2f;
  --red-dark-color: #b92424;
  --red-light-color: rgba(228, 47, 47, 0.2);

  --green-color: #1cb329;
  --green-dark-color: #1a9424;
  --green-light-color: rgba(28, 179, 41, 0.2);

  --dark-color: #000000;
  --grey-dark-color: #5f5f5f;
  --white-color: #ffffff;
  --grey-light-color: #eeeeee;
  --backdrop-color: rgba(0, 0, 0, 0.5);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.trending .slick-dots{
  margin-top: 1rem;
  position: static;
}

.trending .slick-dots .slick-active button::before {
  color: #ff805d !important;
}

.trending .slick-list .slick-track{
  display: flex;
  gap: 1rem;
}