.modal {
  padding: 2rem;
  background-color: var(--white-color);
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
  z-index: 5;
  transform-origin: top center;
  max-width: 500px;
  width: 95%;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backdrop-color);
  z-index: 4;
}
